* {
    scroll-behavior: smooth;
}
.news__container {
    .news__title {
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: normal;
        color: #425c5a;
        margin: 0;
        padding-top: 110px;
        padding-bottom: 30px;
        font-family: MuseoCyrl900;
    }
    .news__date {
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        color: black;
    }
    .news__body {
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        color: black;
    }
}
#stages {
    .grid_col_stages {
        grid-row-gap: 60px;
    }
    .cell_red {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        p {
            text-align: center;
            font-style: normal;
            font-weight: bold;
            font-size: 28px !important;
            line-height: 30px;
            text-transform: uppercase;
            font-family: "Montserrat" !important;
            color: #425c5a !important;
        }
        div {
            position: absolute;
            width: 60px;
            height: 60px;
            background-color: #d81a12;
            border-radius: 60px;
            z-index: -1;
            margin-right: 70px;
            top: -25px;
        }
    }
    .cell_yellow {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        p {
            text-align: center;
            font-style: normal;
            font-weight: bold;
            font-size: 28px !important;
            line-height: 30px;
            text-transform: uppercase;
            font-family: "Montserrat" !important;
            color: #425c5a !important;
        }
        div {
            position: absolute;
            width: 60px;
            height: 60px;
            background-color: #d6a217 !important;
            border-radius: 60px;
            z-index: -1;
            margin-right: 115px;
            top: -25px;
        }
    }
}
#header {
    .header_title {
        .date {
            font-family: "MuseoCyrl500";
            font-style: normal;
            font-weight: bold;
            font-size: 60px;
            line-height: 72px;
            text-transform: uppercase;
            color: #ffffff;
        }
        .time {
            font-family: "MuseoCyrl500";
            font-style: normal;
            font-weight: normal;
            font-size: 40px;
            line-height: 48px;
            color: #ffffff;
            padding-bottom: 45px;
        }
        .name_title {
            font-family: "MuseoCyrl500";
            font-style: normal;
            font-weight: normal;
            font-size: 50px;
            line-height: 60px;
            padding-bottom: 10px;
            color: #ffffff;
        }
        .city {
            font-family: "MuseoCyrl500";
            font-style: normal;
            font-weight: normal;
            font-size: 40px;
            line-height: 48px;
            padding-top: 45px;
            color: #ffffff;
        }
    }
}
.footer__logos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    img {
        max-width: 200px;
        width: 100%;
    }
}
#news {
    margin-bottom: 40px;
    margin-top: 41px;
    .news__title {
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 30px;
        /* identical to box height, or 100% */
        text-align: center;
        text-transform: uppercase;
        color: #425c5a;
        font-family: "MuseoCyrl900";
        padding-bottom: 47px;
    }
    .slider-produtos-wrap {
        position: relative;
        width: 100%;
        margin-top: 20px;
    }
    .swiper-slide {
        z-index: 1;
        height: auto;
        background: #425c5a;
        box-shadow: 0px -4px 6px rgba(255, 255, 255, 0.2), 0px 4px 4px #425c5a;
        border-radius: 30px;
    }
    .swiper-prev,
    .swiper-next {
        width: 60px;
        height: 26px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 60px;
        z-index: 9999;
        cursor: pointer;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .swiper-prev {
        left: -55px;
        background-image: url(../../public/assets/img/str2.svg);
    }
    .swiper-next {
        right: -55px;
        background-image: url(../../public/assets/img/str1.svg);
    }
    .news__img {
        max-width: 100%;
        max-height: 226px;
        min-height: 226px;
        overflow: hidden;
        img {
            width: 100%;
            border-radius: 30px 30px 0 0;
        }
    }
    .news__body {
        padding-left: 12px;
        padding-right: 12px;
        padding-bottom: 34px;
        p {
            padding-top: 23px;
            padding-bottom: 13px;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 34px;
            /* or 189% */
            color: #ffffff;
            min-height: 100px;
        }
        .btn__news {
            width: 100%;
            text-align: right;
        }
    }
}
#modalmain {
    select {
        display: block !important;
    }
}
#uchat {
    .nominations_title {
        color: #425c5a;
        font-family: "MuseoCyrl900";
        font-size: 30px;
        line-height: 36px;
        text-align: center;
        padding-top: 30px !important;
        padding-bottom: 40px !important;
        margin: 0 !important;
    }
    .div_ucaht {
        p {
            font-family: "MontserratL";
            font-size: 18px;
            line-height: 22px;
            color: #000000 !important;
        }
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        padding-bottom: 41px;
    }
}
#gallls {
    padding-top: 90px;
    background: rgba(229, 229, 229, 0.45);
    .galls__title {
        padding-top: 46px;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 30px;
        text-transform: uppercase;
        color: #a1a0cc;
        padding-bottom: 46px;
        font-family: "MuseoCyrl900";
    }
    #lightgallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-row-gap: 30px;
        grid-column-gap: 30px;
        a {
            width: 100%;
            height: 200px;
            overflow: hidden;
            img {
                width: 100%;
            }
        }
        padding-bottom: 90px;
        .blur-up {
            -webkit-filter: blur(5px);
            filter: blur(5px);
            transition: filter 400ms, -webkit-filter 400ms;
        }
        .blur-up.lazyloaded {
            -webkit-filter: blur(0);
            filter: blur(0);
        }
    }
}
@media screen and (max-width:1201px) {
    #gallls {
        #lightgallery {
            display: grid;
            grid-template-columns: 1fr 1fr;
            a {
                width: 100%;
                height: 150px;
                overflow: hidden;
                img {
                    width: 100%;
                }
            }
            padding-bottom: 90px;
            .blur-up {
                -webkit-filter: blur(5px);
                filter: blur(5px);
                transition: filter 400ms, -webkit-filter 400ms;
            }
            .blur-up.lazyloaded {
                -webkit-filter: blur(0);
                filter: blur(0);
            }
        }
    }
}
@media screen and (max-width: 992px) {
    .footer__logos {
        margin-bottom: 30px;
    }
    #uchat .div_ucaht {
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
        padding-bottom: 41px;
        padding: 24px;
    }
    .swiper-prev {
        left: 0px !important;
    }
    .swiper-next {
        right: 0px !important;
    }
    #header {
        .header_title {
            padding: 40px 20px;
            text-align: center;
            .date {
                font-size: 32px;
            }
            .time {
                font-size: 26px;
                padding-bottom: 20px;
            }
            .name_title {
                font-size: 32px;
                padding-bottom: 10px;
            }
            .city {
                font-size: 28px;
                padding-top: 25px;
            }
        }
    }
}
