* {
    scroll-behavior: smooth;
}
.news__container .news__title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: normal;
    color: #425c5a;
    margin: 0;
    padding-top: 110px;
    padding-bottom: 30px;
    font-family: MuseoCyrl900;
}
.news__container .news__date {
    font-weight: 600;
}
.news__container .news__body,
.news__container .news__date {
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    color: #000;
}
.news__container .news__body {
    font-weight: 400;
}
#stages .grid_col_stages {
    grid-row-gap: 60px;
}
#stages .cell_red {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
#stages .cell_red p {
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 28px !important;
    line-height: 30px;
    text-transform: uppercase;
    font-family: Montserrat !important;
    color: #425c5a !important;
}
#stages .cell_red div {
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: #d81a12;
    border-radius: 60px;
    z-index: -1;
    margin-right: 70px;
    top: -25px;
}
#stages .cell_yellow {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
#stages .cell_yellow p {
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 28px !important;
    line-height: 30px;
    text-transform: uppercase;
    font-family: Montserrat !important;
    color: #425c5a !important;
}
#stages .cell_yellow div {
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: #d6a217 !important;
    border-radius: 60px;
    z-index: -1;
    margin-right: 115px;
    top: -25px;
}
#header .header_title .date {
    font-family: MuseoCyrl500;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 72px;
    text-transform: uppercase;
    color: #fff;
}
#header .header_title .time {
    font-size: 40px;
    line-height: 48px;
    padding-bottom: 45px;
}
#header .header_title .name_title,
#header .header_title .time {
    font-family: MuseoCyrl500;
    font-style: normal;
    font-weight: 400;
    color: #fff;
}
#header .header_title .name_title {
    font-size: 50px;
    line-height: 60px;
    padding-bottom: 10px;
}
#header .header_title .city {
    font-family: MuseoCyrl500;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    padding-top: 45px;
    color: #fff;
}
.footer__logos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.footer__logos img {
    max-width: 200px;
    width: 100%;
}
#news {
    margin-bottom: 40px;
    margin-top: 41px;
}
#news .news__title {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #425c5a;
    font-family: MuseoCyrl900;
    padding-bottom: 47px;
}
#news .slider-produtos-wrap {
    position: relative;
    width: 100%;
    margin-top: 20px;
}
#news .swiper-slide {
    z-index: 1;
    height: auto;
    background: #425c5a;
    box-shadow: 0 -4px 6px hsla(0, 0%, 100%, 0.2), 0 4px 4px #425c5a;
    border-radius: 30px;
}
#news .swiper-next,
#news .swiper-prev {
    width: 60px;
    height: 26px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 60px;
    z-index: 9999;
    cursor: pointer;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
}
#news .swiper-prev {
    left: -55px;
    background-image: url(/images/str2.svg?f54d6d647c377ece1894d2075cb3f658);
}
#news .swiper-next {
    right: -55px;
    background-image: url(/images/str1.svg?ebf4a71a38ce3a3ef33bb9e1cbf78b84);
}
#news .news__img {
    max-width: 100%;
    max-height: 226px;
    min-height: 226px;
    overflow: hidden;
}
#news .news__img img {
    width: 100%;
    border-radius: 30px 30px 0 0;
}
#news .news__body {
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 34px;
}
#news .news__body p {
    padding-top: 23px;
    padding-bottom: 13px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 34px;
    color: #fff;
    min-height: 100px;
}
#news .news__body .btn__news {
    width: 100%;
    text-align: right;
}
#modalmain select {
    display: block !important;
}
#uchat .nominations_title {
    color: #425c5a;
    font-family: MuseoCyrl900;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    padding-top: 30px !important;
    padding-bottom: 40px !important;
    margin: 0 !important;
}
#uchat .div_ucaht {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    padding-bottom: 41px;
}
#uchat .div_ucaht p {
    font-family: MontserratL;
    font-size: 18px;
    line-height: 22px;
    color: #000 !important;
}
#gallls {
    padding-top: 90px;
    background: hsla(0, 0%, 89.8%, 0.45);
}
#gallls .galls__title {
    padding-top: 46px;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: #a1a0cc;
    padding-bottom: 46px;
    font-family: MuseoCyrl900;
}
#gallls #lightgallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    padding-bottom: 90px;
}
#gallls #lightgallery a {
    width: 100%;
    height: 200px;
    overflow: hidden;
}
#gallls #lightgallery a img {
    width: 100%;
}
#gallls #lightgallery .blur-up {
    filter: blur(5px);
    transition: filter 0.4s;
}
#gallls #lightgallery .blur-up.lazyloaded {
    filter: blur(0);
}
@media screen and (max-width: 992px) {
    .footer__logos {
        margin-bottom: 30px;
    }
    #uchat .div_ucaht {
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
        padding: 24px;
    }
    .swiper-prev {
        left: 0 !important;
    }
    .swiper-next {
        right: 0 !important;
    }
    #header .header_title {
        padding: 40px 20px;
        text-align: center;
    }
    #header .header_title .date {
        font-size: 32px;
    }
    #header .header_title .time {
        font-size: 26px;
        padding-bottom: 20px;
    }
    #header .header_title .name_title {
        font-size: 32px;
        padding-bottom: 10px;
    }
    #header .header_title .city {
        font-size: 28px;
        padding-top: 25px;
    }
}
